# Created by venv; see https://docs.python.org/3/library/venv.html

.git

Include
Lib
Scripts

pyvenv.cfg
mysite/db.sqlite3
mysite/mysite/__pycache__/settings.cpython-313.pyc
mysite/polls/__pycache__/admin.cpython-313.pyc
mysite/polls/__pycache__/apps.cpython-313.pyc
mysite/polls/__pycache__/models.cpython-313.pyc
mysite/polls/__pycache__/test.cpython-313.pyc
mysite/polls/__pycache__/tests.cpython-313.pyc
mysite/polls/__pycache__/urls.cpython-313.pyc
mysite/polls/__pycache__/views.cpython-313.pyc
mysite/polls/migrations/__pycache__/__init__.cpython-313.pyc
mysite/polls/migrations/__pycache__/0001_initial.cpython-313.pyc
